body {
    width: 75%;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    border: solid;
    border-style: dashed;
    margin: auto;
}
#guts {
    width: 100%;    
}
ul{
    display: inline;
    margin:  0 0 0 15;
}
a{
    border: 3px gray solid;
    border-radius: 4px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 1s all;
}
a:hover{
    font-size: 25px;
    color:aquamarine;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;

}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
h3 {
    text-align: center;
    padding: 20px;
}
#slr{
    width: 100%;
}